

body {
    padding:30px;
}

#c {
    width:800px;
    height:400px;
    border:solid 1px black;
    box-shadow: 5px 5px 5px gray;
}
#g {
    width:800px;
    height:200px;
    border:solid 1px black;
    box-shadow: 5px 5px 5px gray;
}

.controls {
    margin-bottom:10px;
    display: flex;
    
}

.controls th {
    text-align: right;
}


.column {
    

}

.right-column {
    margin-left:50px;

}